body {
	center;
	line-height: 1;
	color: purple;
	background-image: url("../images/1.jpg");
}

h1 {
	background-image: url("../images/diamonds-header.jpg");
	color: purple;
	height: 85px;
	text-align: center;
	top: 5px;
	margin: 1px;
	padding: 5px;
}

h2 {
	text-align: center;
	color: teal;
}

ol, ul {
	color: teal;
	list-style: none;
	font-size: 18px;
	text-align: center;
}

.container {
	background: background-image;
	padding-bottom: 10px;
}
/*
.container-score {

	background-image: url("..images/2.jpg");
	height: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
}
*/
.container-panel1, .container-panel2 {
	background: background-image;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
}

.background1 {
	height: 90px;
	width: 100%;
}

.panel-heading {
	font-size: 20px;
}

.panel-body {
	text-align: center;
	background: black;
}

.yellow_crystal, .red_ruby, .sapphire, .emerald {
	height: 100px;
	width: 100px;
}

.container-output {
	position-left: 600px;
	font-size: 20px;
	background: background-image;
	color: teal;
}

#outputStanding {
	color: red;
	font-size: 24px;
	font-style: bold;
}
